* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e8aa14;
  background: linear-gradient(
    270deg,
    hsla(186, 100%, 55%, 1) 0%,
    hsla(130, 76%, 68%, 1) 100%
  );
  width: 300px;
  text-align: center;
  padding: 20px 0;
}
.message-box {
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 180px;
  height: 50%;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e8aa14;
  overflow: auto;
  box-shadow: 0px 0px 10px white;
}
.message-box li {
  list-style: none;
  text-align: left;
  margin-top: 10px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.708);
}
.li-message {
  font-style: italic;
  color: rgb(0, 0, 0);
}

.btn {
  padding: 7px 5px;
  border-radius: 10px;
  border: 1px solid #e8aa14;
  font-size: 20px;
  margin: 10px 0px;
  background-color: white;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0px 0px 10px white;
  max-width: 200px;
}
.btn:hover {
  background-color: #ff5714;
  color: white;
}
main {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* background-color: #E4FF1A; */
  background: linear-gradient(
    90deg,
    hsla(186, 100%, 55%, 1) 0%,
    hsla(67, 100%, 55%, 1) 100%
  );
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  width: 80vh;
  height: 80vh;
}
td:first-child {
  border-left: 0;
}
td:last-child {
  border-right: 0;
}
tr:last-child td {
  border-bottom: 0;
}
tr:first-child td {
  border-top: 0;
}

td {
  width: 33%;
  height: 33%;
  border: solid 10px black;
  text-align: center;
  color: black;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 120px;
  font-family: sans-serif;
  font-size: 130px;
  text-transform: uppercase;
  transition: all 0.5s;
}
td:hover {
  /* background-color: #1BE7FF; */
  background-color: #e4ff1a;
  background-color: rgba(223, 162, 17, 0.5);
  color: black;
}

.win:hover {
  background-color: #e8aa14;
}
.forbidden {
  background-color: #ff5714;
  transition: all 0.05s;
}
.forbidden:hover {
  background-color: #ff5714;
}
.called-x {
  background-color: rgba(1, 52, 255, 0.3);
  text-shadow: 0px 0px 30px white;
}
.called-o {
  background-color: #ff5714a6;
  text-shadow: 0px 0px 30px white;
}
.win {
  background-color: #e8aa14;
  color: black;
  text-shadow: 0px 0px 30px white;
}
.greyed-font {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 100%;  
  font-size: 200px;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
  background-color: hsla(130, 76%, 68%, 1);
}
.overlay.hide {
  visibility: hidden;
  opacity: 0;
}
#play-again {
  background-color: rgba(0, 0, 0, 0.8);
}
.text-replay {
  font-size: 120px;
  background-color: rgba(255, 255, 255, 1);
  padding: 50px;
  border-radius: 60px;
  border: 4px solid rgba(1, 52, 255, 1);
  color: rgba(1, 52, 255, 1);  
}
.text-replay:hover {
  background-color: rgba(1, 52, 255, 1);
  color: white;  
}

/* TYP */
h1 {
  font-size: 32px;
}
