* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* transition: all 1s; */
}
.page-wrapper {
  height: 100vh;
}
main {
  position: relative;
  display: flex;
  height: calc(100% - 40px);
  width: 100%;
  font-family: "Roboto", sans-serif;
}
aside {
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(270deg, #ccffff 0%, #99ccff 100%);
  width: 350px;
  text-align: center;
  padding: 20px 0;
}
.logo-img {
  width: 40px;
}
.message-box {
  padding: 6px 10px;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 220px;
  height: 70%;
  background-color: white;
  border-radius: 10px;
  border: 2px solid #458bbc;
  box-shadow: 0px 0px 10px white;
  overflow: hidden;
}
.message-box li {
  list-style: none;
  text-align: left;
  margin:5px 0;
  font-size: 1.25rem;
  color: #392654;
}
.message-box li i {
  font-size: .875rem ;
  color : rgb(90, 90, 90);
}
.li-message {
  font-style: italic;
  color: #3a3a3c;
  font-size: 1.5rem;
  font-family: 'VT323', monospace;
}

.btn {
  padding: 9px 12px;
  border-radius: 10px;
  border: 3px solid #458bbc;
  color: #392654;
  font-size: 1rem;
  margin-right: 8px;
  background-color: white;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0px 0px 12px white;
  max-width: 220px;
  transition: all 1s;
}
.btn:hover {
  background-color: #458bbc;
  color: #fff;
  box-shadow: 0px 0px 20px white;
}
.main-content {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-image: url("../img/1624.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}
.game-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}
.game-container {
  display: flex;
  flex-direction: column;
}
.game-score {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 2px;
  font-size: 2rem;
  border-radius: 20%;
  border: .4rem solid #0000009c;
  height: 8rem;
  width: 8rem;
  margin: 0 10px;
  box-shadow: 0px 0px 30px #fff;
}
.player-symbol {
  font-weight: 700;
}
.game-buttons {
  text-align: center;
  margin-top: 30px;
}
.portrait-title
 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;  
}
table {  
  width: 50rem;
  height: 50rem;
  border: .625rem solid #0000009c;
  border-radius: 20px;
  padding: 20px;
  border-spacing: 10px;
  box-shadow: 0px 0px 30px #fff;
}

td {
  width: 33%;
  height: 33%;
  border: dashed 0.2rem #a7d8e5;
  border-radius: 5px;
  text-align: center;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 3.75rem;
  text-transform: uppercase;
  transition: all 1s;
}
td:hover {
  background-color: #dae8e9;
  color: black;
  border-radius: 30%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.cell-effects {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 7.5rem;
  color: #000;
  border-radius: 40%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.grid-blurring {
  border: solid 2px rgba(0, 0, 0, 0.4);
}

.called-x {
  background-color: #3399cc;
  text-shadow: 0px 0px 30px white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.called-x:hover {
  background-color: #3399cc;
  border-radius: 20%;
  text-shadow: 0px 0px 10px white;
}
.called-o {
  background-color: #feb000;
  text-shadow: 0px 0px 30px white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.called-o:hover {
  background-color: #feb000;
  border-radius: 20%;
  text-shadow: 0px 0px 10px white;
}
.forbidden {
  background-color: #ff5714;
  border-radius: 40%;
}
.forbidden:hover {
  background-color: #ff5714;
}
.win {
  background-color: #ff5714;
  color: white;
  border-radius: 40%;
  border: dashed 0.2rem #fff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.win:hover {
  background-color: #ff5714;
  text-shadow: 0px 0px 20px white;
  color: white;
}
.greyed-font {
  color: rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.copyright {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
  background-color: #3a3a3c;
  height: 40px;
  color: rgba(255, 255, 255, 0.7);
}
.overlay {
  font-family: 'VT323', monospace;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14rem;
  visibility: visible;
  opacity: 1;
  transition: all 1s;
  background-color: #392654;
  color: #fff;
}
.overlay.hide {
  visibility: hidden;
  opacity: 0;
}

#play-again {
  background-color: rgba(0, 0, 0, 0.8);
}
.text-replay {
  font-size: 3rem;
  background-color: #fff;
  padding: 1.5rem 2.5rem;
  border-radius: 2rem;
  border: .44rem solid #392654;
  color: #392654;
}
.text-replay:hover {
  background-color: #392654;
  color: white;
}
/* TYP */
h1 {
  font-size: 2rem;
  color: #3a3a3c;
  text-shadow: 0px 0px 10px #fff;
  text-transform: capitalize;
}
/* MISC  */
.list li {
  display: inline-block;
  list-style: none;
  margin-left: 5px;
}
.list a {
  text-decoration: none;
  color: white;
  padding: 5px;
  background-color: rgb(90, 90, 90);
  border-radius: 5px;
  box-shadow: 0px 0px 3px #fff;
  transition: all 1s;
}
.list a:hover {
  box-shadow: 0px 0px 7px #fff;
  color: rgb(90, 90, 90);
  background-color: #fff;
}
/* MEDIA QUERIES  */

/* Smallest devices (landscape phones, 3190px and up) */
@media (min-width: 319px) {
  html {
    font-size: 4px;
  }
  h1 {
    font-size: 4rem;
  }   
} 
/* Smallest devices (landscape phones, 360px and up) */
@media (min-width: 360px) {
  html {
    font-size: 5px;
  }
  h1 {
    font-size: 4rem;
  }  
  .game-container {
    flex-direction: row;
  }
} 
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  html {
    font-size: 8px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  html {
    font-size: 10px;
  }  
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  html {
    font-size: 10px;
  }
  aside {
    display: flex;
  }
  .portrait-title {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
  
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  html {
    font-size: 14px;
  }
}

@media (max-height: 599px) {
  html {
    font-size: 6px;
  }

}